#java
    padding: 50px
    .chat
        border: 1px solid
        padding: 20px
        height: 300px
        border-radius: 5%
        margin-right: 20px
        background-color: yellow
        .message
            background-color: #e67a7a90 
            border-radius: 10%
            height: 200px
            .line
                border: 1px solid
                width: 50px
                text-align: center
                border: 10%
                border-radius: 30%
                height: 30px
                background-color: beige
        .text
            display: flex
            justify-content: center
            align-items: flex-end
            margin-top: 20px
            .send
                margin-left: 10px
                border: 1px solid
                width: 50px
                text-align: center
                border: 10%
                border-radius: 30%
                height: 30px
                background-color: beige
               